<div class="container my-5  col-md-6 shadow rounded-6">
  <form 
  class="p-3" 
  (ngSubmit)="onSubmit(myReactiveForm)" 
  [formGroup]="myReactiveForm"
  >
<label class="form-label" for="name">Name:</label>
<input class="form-control" formControlName="name" type="text">
<span
*ngIf="!myReactiveForm.get('name').valid && myReactiveForm.get('name').touched"
class="help-block">Enter valid name</span>
<br>

<label class="form-label" for="email">Email: </label>
<input class="form-control" formControlName="email" type="text">
<span
*ngIf="!myReactiveForm.get('email').valid && myReactiveForm.get('email').touched"
class="help-block">Enter valid email</span>
<br>

<label class="form-label" for="phone">Phone:</label>
<input class="form-control" formControlName="phone" type="text">
<span
*ngIf="!myReactiveForm.get('phone').valid && myReactiveForm.get('phone').touched"
class="help-block">Enter valid phone</span>
<br>

<h5 class="mt-3">Family</h5>
<button (click)="addMember()" class="btn btn-success" type="button">Add Family Member</button>
&nbsp;&nbsp;
<button (click)="removeMember()" class="btn btn-sucess" type="button">Remove Member</button>
<br>

<div formArrayName="family">
  <div *ngFor="let member of members?.controls; let i=index">
      <div [formGroupName]="i">
          <label class="form-label mt-3" for="rname">Name: </label>
          <input class="form-control" type="text" id="rname" formControlName="rname">
          <label class="form-label mt-3" for="relation">Relation: </label>
          <input class="form-control" type="text" id="relation" formControlName="relation">
      </div>
  </div>
</div>

<br>

<button class="btn btn-success">Submit</button>
</form>

<!-- display content -->
<!-- <div *ngIf="isSubmitted" class="p-3">
<h5>Form Data</h5>
<p>Name: {{formData.name}}</p>
<p>Mobile Number: {{formData.mbno}}</p>

<<ng-container *ngFor="let elem of formData.family; let i=index">
  <h6>Family Member {{i+1}}</h6>
  <p>Name: {{elem.rname}}</p>
  <p>Relation: {{elem.relation}}</p>
</ng-container>
</div> -->

</div>

<hr class="rounded">
<!-- Message: {{message}} <br> -->
<app-toggle checkedLabelText="Offline" uncheckedLabelText="Online"></app-toggle>
<!-- <app-toggle (messageEvent)="receiveMessage($event)"></app-toggle> -->
<app-accordion></app-accordion>

<!-- <table mat-table #table [dataSource]="myDataArray" class="mat-elevation-z8" [width]="500">
  
  <ng-container matColumnDef="userName">
  <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
  <mat-cell *matCellDef="let user"><div> {{user.userName}} </div></mat-cell>
  </ng-container>
    
  <ng-container matColumnDef="email">
  <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
  <mat-cell *matCellDef="let user"><div> {{user.email}} </div></mat-cell>
  </ng-container>
    
  <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
  <mat-row *matRowDef="let dataSource; columns: columnsToDisplay;"></mat-row>
    
  </table> -->

  <div class="background">
    <title>
      <h2>Angular Material</h2>
      <p>User Form</p>
    </title>
    
    <div class="clearfix">
      <div class="box" style="background-color:rgb(255, 255, 255);position: relative;left: 5%;">
        
        
      </div>
      <div class="box" style="position: relative;left: 5%;">
        
          <mat-card>
            <div>
              <label><h3>Person data</h3></label><br><br>
            </div>
        <table mat-table #table [dataSource]="myDataArray" class="mat-elevation-z8" style="width: 700pt;">
          <ng-container matColumnDef="userName">
            <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
            <mat-cell *matCellDef="let user"><div> {{user.userName}} </div></mat-cell>
          </ng-container>
          <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
            <mat-cell *matCellDef="let user"><div> {{user.email}} </div></mat-cell>
          </ng-container>
          <ng-container matColumnDef="phone">
            <mat-header-cell *matHeaderCellDef>Phone</mat-header-cell>
            <mat-cell *matCellDef="let user"><div> {{user.phone}} </div></mat-cell>
          </ng-container>
          <ng-container matColumnDef="amount">
            <mat-header-cell *matHeaderCellDef>Family size</mat-header-cell>
            <mat-cell *matCellDef="let user"><div> {{user.amount}} </div></mat-cell>
          </ng-container>
          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>Actions </mat-header-cell>
            <mat-cell *matCellDef="let user">
              <button mat-button (click)="openDialog(this.user)">Edit</button> |
              <button mat-button color="warn" (click)="delete(this.user)">Delete</button>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
          <mat-row *matRowDef="let dataSource; columns: columnsToDisplay;"></mat-row>
        </table>
      </mat-card>
      </div>
      
    </div>
    </div>
    

